In [1]:
import pandas as pd
train = pd.read_csv('/Users/liuce/Downloads/kama-group/kama_train.csv', index_col=0)
validation = pd.read_csv('/Users/liuce/Downloads/kama-group/kama_val.csv', index_col = 0)
test = pd.read_csv('/Users/liuce/Downloads/kama-group/kama_test.csv', index_col=0)

/Users/liuce/anaconda3/lib/python3.6/site-packages/numpy/lib/arraysetops.py:463: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

In [44]:
len(validation)

303925

In [49]:
validation[:5]

,city,usertag,day_0,day_1,day_2,day_3,day_4,day_5,day_6,hour_0,...,usertag_13866,usertag_13874,usertag_14273,usertag_15398,usertag_16593,usertag_16617,usertag_16661,usertag_16706,usertag_16751,usertag_16753
0,79,"13866,10111",0,0,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,0,0
1,79,"10075,10057,10024,10052,10083,10063,10006,10110",0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2,"13866,10024,10059,10063,13776,10083,10006,10111",0,0,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,0,0
3,205,"13866,10057,10006,10063,10110",0,0,0,0,0,1,0,0,...,1,0,0,0,0,0,0,0,0,0
4,135,"10006,10063,13776,10110",0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [55]:
val = pd.read_csv('/Users/liuce/Downloads/we_data/validation.csv')

In [45]:
y_train = pd.read_csv('/Users/liuce/Downloads/we_data/y_train.csv', index_col=0)
#y_val = pd.read_csv('/Users/liuce/Downloads/we_data/y_val.csv', index_col=0)

/Users/liuce/anaconda3/lib/python3.6/site-packages/numpy/lib/arraysetops.py:463: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

In [56]:
len(val)

303925

In [57]:
val[:5]

,click,weekday,hour,bidid,userid,useragent,IP,region,city,adexchange,...,slotheight,slotvisibility,slotformat,slotprice,creative,bidprice,payprice,keypage,advertiser,usertag
0,0,4,20,bbcb813b6166538503d8b33a5602d7d72f6019dc,663169f66491c98c69f1f94a5c48fa34aa9fe06f,windows_ie,211.144.203.*,79,79,1,...,600,2,1,0,cb7c76e7784031272e37af8e7e9b062c,300,23,bebefa5efe83beee17a3d245e7c5085b,1458,"13866,10111"
1,0,1,21,5a07316c49477cb5d9b4d5aa39c27d6c3be7f92d,a23f0cfab6592c137f796e68fa752fceba08bb1b,windows_chrome,58.247.250.*,79,79,1,...,90,0,1,0,c938195f9e404b4f38c7e71bf50263e5,238,75,a3becb967c015e9acb5e72f22b100ef8,3476,"10075,10057,10024,10052,10083,10063,10006,10110"
2,0,4,8,f6ece71dae81d6b16bfb24ad6dd5611472d4c673,5105a013ea54a9706146033e6a138d5234a3803e,windows_ie,117.12.111.*,2,2,2,...,250,2,0,5,911b2d84826786018761e8c0b0a3a60c,238,65,d29e59bf0f7f8243858b8183f14d4412,3358,"13866,10024,10059,10063,13776,10083,10006,10111"
3,0,5,15,b4d5c57c9b38ff5a12954fa01e11931b4e6bfbbb,577e9a768ce17e73c61ba7022db927f9ee761830,windows_chrome,61.187.224.*,201,205,2,...,280,2,0,5,dc0998c10f8f0b623b5d949e8272e4c7,238,6,d29e59bf0f7f8243858b8183f14d4412,3358,"13866,10057,10006,10063,10110"
4,0,1,18,0899bf144249458ea9c89188473694bf44c7ca15,e4bf79c562745d671b19f2edf7fda89c2e25987f,windows_chrome,117.41.145.*,134,135,2,...,200,1,0,5,23485fcd23122d755d38f8c89d46ca56,249,5,7e0e909ea89f707bc20f9585c9072081,3476,"10006,10063,13776,10110"

In [58]:
y_val = val['click']

In [47]:
y_train.columns = ['click']
y_val.columns = ['click']

In [4]:
df_train = pd.concat([train, y_train], axis = 1)

In [5]:
df_train.shape

(2430981, 221)

In [6]:
df_train.columns

Index(['city', 'usertag', 'day_0', 'day_1', 'day_2', 'day_3', 'day_4', 'day_5',
       'day_6', 'hour_0',
       ...
       'usertag_13874', 'usertag_14273', 'usertag_15398', 'usertag_16593',
       'usertag_16617', 'usertag_16661', 'usertag_16706', 'usertag_16751',
       'usertag_16753', 'click'],
      dtype='object', length=221)

In [65]:
train_click1 = df_train[df_train['click'] == 1]
train_click0 = df_train[df_train['click'] == 0]

In [66]:
len(train_click1)

1793

In [67]:
train_click0[:5] # 38207

,city,usertag,day_0,day_1,day_2,day_3,day_4,day_5,day_6,hour_0,...,usertag_13874,usertag_14273,usertag_15398,usertag_16593,usertag_16617,usertag_16661,usertag_16706,usertag_16751,usertag_16753,click
1,239,null,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.0
2,41,"10052,10006,13866,10110",0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.0
3,1,"13866,10063,10111",0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0.0
4,233,null,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0.0
5,277,"10006,10077,10063,10057,10110",0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0.0

In [68]:
N0 = len(train_click0)

In [69]:
N0

2429187

In [70]:
train_click0 = train_click0.sample(frac=1) # 随机排列

In [71]:
train_click0[:5]

,city,usertag,day_0,day_1,day_2,day_3,day_4,day_5,day_6,hour_0,...,usertag_13874,usertag_14273,usertag_15398,usertag_16593,usertag_16617,usertag_16661,usertag_16706,usertag_16751,usertag_16753,click
1026833,179,13866,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.0
721332,235,null,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0.0
992674,141,"10024,10052,10057,10077,10006,10059,10075,1340...",0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0.0
1906460,92,"13866,10111",0,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.0
1741905,309,null,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0.0

In [72]:
train_click0_selected = train_click0[:38207]

In [73]:
train_click0_selected.shape

(38207, 221)

In [74]:
x_train = pd.concat([train_click1, train_click0_selected])

In [75]:
x_train.shape

(40000, 221)

In [78]:
y_train = pd.DataFrame(x_train['click'])

In [79]:
y_train.shape

(40000, 1)

In [80]:
x_train = x_train.drop(['click','usertag'],axis=1)

In [81]:
x_train.shape

(40000, 219)

In [22]:
df_val = pd.concat([validation, y_val], axis = 1)
x_val = df_val.drop(['click','usertag'],axis=1)
x_val.shape

(303925, 219)

In [82]:
x_val.shape

(303925, 219)

In [26]:
test[:5]

,city,day_0,day_1,day_2,day_3,day_4,day_5,day_6,hour_0,hour_1,...,usertag_13874,usertag_14273,usertag_15398,usertag_16593,usertag_16617,usertag_16661,usertag_16706,usertag_16751,usertag_16753,usertag_null
0,159,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
2,34,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,245,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,35,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [28]:
x_test = test.drop(['usertag_null'],axis=1)

In [29]:
x_test.shape

(303375, 219)

In [38]:
y_train[:5]

       click
1104     1.0
4949     1.0
8878     1.0
9790     1.0
10000    1.0

In [64]:
y_train = pd.DataFrame(y_train)
y_train.shape

(2430980, 1)

In [83]:
import xgboost as xgb

dtrain = xgb.DMatrix(x_train, label=y_train)
dval = xgb.DMatrix(x_val, label=y_val)
dtest = xgb.DMatrix(x_test)

In [61]:
y_val.shape

(303925,)

In [62]:
x_val.shape

(303925, 219)

In [43]:
x_val[:5]

,city,day_0,day_1,day_2,day_3,day_4,day_5,day_6,hour_0,hour_1,...,usertag_13866,usertag_13874,usertag_14273,usertag_15398,usertag_16593,usertag_16617,usertag_16661,usertag_16706,usertag_16751,usertag_16753
0,79,0,0,0,0,1,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
1,79,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,2,0,0,0,0,1,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
3,205,0,0,0,0,0,1,0,0,0,...,1,0,0,0,0,0,0,0,0,0
4,135,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [143]:
learning_rate = 0.85 # 0.879086213156

max_depth = 11 
min_child_weight = 5

xgb_params = {
    #General Parameters
    'booster': 'gbtree',
    'silent': 0,
    
    #Tree Booster Parameters
    'eta': learning_rate,
    
    'max_depth': max_depth, #usually 3-10, big value can provide from overfitting
    'min_child_weight': min_child_weight,
    'subsample': 1,
    'colsample_bytree': 1,
    'alpha': 1, # improve speed
    'scale_pos_weight': 1, #default = 1, positive value can converge faster
    'early_stopping_rounds': 50,
    
    #learn objective parameters
    'objective': 'reg:logistic',
    'evalmatrix': 'rmse',
    'seed': 2017
    }

num_round = 6
watchlist = [(dtrain, 'train'), (dval, 'eval')]

bst = xgb.train(xgb_params, dtrain, num_round, watchlist)

[0]	train-rmse:0.217601	eval-rmse:0.172574
[1]	train-rmse:0.172049	eval-rmse:0.094582
[2]	train-rmse:0.16291	eval-rmse:0.071451
[3]	train-rmse:0.159719	eval-rmse:0.065469
[4]	train-rmse:0.157779	eval-rmse:0.064461
[5]	train-rmse:0.1565	eval-rmse:0.063914

In [144]:
# Caculate the calibrated CTR
def Cali_CTR(p, w):

    cali_ctr = p/(p+(1-p)/w)

    return cali_ctr

In [145]:
predict_xgb = bst.predict(dval)
Cali_xgb = Cali_CTR(predict_xgb, 0.00738)

In [146]:
from sklearn import metrics

fpr, tpr, thresholds = metrics.roc_curve(y_val, Cali_xgb, pos_label=1)
auc = metrics.auc(fpr, tpr)

print('auc on test: ', auc)

auc on test:  0.872313158065

In [129]:
predict_xgb_test = bst.predict(dtest)
Cali_xgb_test = Cali_CTR(predict_xgb, 0.00738)

In [130]:
Cali_xgb_test[:5]

array([  9.17723664e-05,   3.97140793e-05,   2.95732243e-05,
         3.34307770e-05,   3.22761807e-05], dtype=float32)

In [132]:
Cali_xgb_test = pd.DataFrame(Cali_xgb_test)
Cali_xgb_test.columns = ['pctr']

In [133]:
Cali_xgb_test.to_csv('predictedCTR_xgboost_new.csv')

In [134]:
Cali_xgb = pd.DataFrame(Cali_xgb)
Cali_xgb.columns = ['pctr']
Cali_xgb.to_csv('predictedCTR_xgboost_val_new.csv')

In [135]:
import pickle
pickle.dump(bst, open('xgb_new.pickle.dat', 'wb'))

In [136]:
model = pickle.load(open('xgb_new.pickle.dat', 'rb'))

In [105]:
test_prices = model.predict(dtest)

In [106]:
test_prices

array([ 0.02750435,  0.11542224,  0.00222924, ...,  0.00047092,
        0.00626251,  0.00505808], dtype=float32)